<!-- Pokemon grid -->
<div class="pokemon-grid">
    <div 
    class="box" 
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPokemons } "
    >
        <img [src]="pokemon.sprites.front_default" alt="Normal Pokemon">
        <img [src]="pokemon.sprites.front_shiny" alt="Shiny Pokemon">
        <h1>{{ pokemon.name | titlecase }}</h1>
        <div>
            <b>Type: </b>
            <span 
            *ngFor="let type of pokemon.types"
            class="badge border rounded-pill text-bg-dark"
            >
            {{ type.type.name | titlecase}} 
            </span>
        </div>
    </div>
    <button class="btn btn-primary" id="loadMore" (click)="loadPokemon((pokemons.length -1))">Load More</button>
</div>

<pagination-controls (pageChange)="page = $event; "></pagination-controls>