<!-- Pokemon grid -->
<!-- <div class="pokemon-grid">
    <div 
    class="box" 
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPokemons } "
    >
        <img [src]="pokemon.sprites.front_default" alt="Normal Pokemon">
        <h1>{{ pokemon.name | titlecase }}</h1>
        <div>
            <b>Type: </b>
            <span 
            *ngFor="let type of pokemon.types"
            class="badge border rounded-pill text-bg-dark"
            >
            {{ type.type.name | titlecase}} 
            </span>
        </div>
    </div>
    <button class="btn btn-primary" id="loadMore" (click)="loadPokemon((pokemons.length -1))">Load More</button>
</div> -->

<!-- <pagination-controls (pageChange)="page = $event; "></pagination-controls> -->

<div class="col-md-12 list-wrapper" *ngFor="let pokemon of pokemons">
    <!-- <div class="card mb-3" [routerLink]="['/view', pokemon.name]"> -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="row row-bg">
                <div class="col-6 col-sm-7 main-bg">
                    <h5 class="card-title">#{{ pokemon.id }} {{ pokemon.name | titlecase}}</h5>
                    <span *ngFor="let type of pokemon.types" class="badge border rounded-pill text-bg-dark">
                        {{ type.type.name | titlecase}} 
                    </span>
                </div>
                <div class="col-5 col-sm-4 sprite-bg">
                    <img [src]="pokemon.sprites.front_default" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>