.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}

.pokemon-grid .box {
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

pagination-controls {
    text-align: center;
}

.list-wrapper {
    padding: 20px;
}

:host {
    display:inline-block;
}


// Used for test
// TODO: DELETE
.main-bg {
    background-color: red;
}

.sprite-bg{
    background-color: blue;
}

.row-bg { background-color: yellow;}