<!-- <ng-container *ngIf="pokemon">
    <div class="bg py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mt-2">
                                <h1>{{pokemon.name | titlecase}}</h1>
                                <span *ngFor="let type of pokemon.types"
                                    class="badge border rounded-pill me-1">
                                    {{type.type.name | titlecase}}
                                </span>
                            </div>

                            <ul class="list-group list-group-flush mt-4" style="width: 20rem;">
                                <li class="list-group-item bg-transparent">Experience <b
                                        class="float-end">{{pokemon.base_experience}}</b></li>
                                <li class="list-group-item bg-transparent">Height <b
                                        class="float-end">{{pokemon.height}}</b></li>
                                <li class="list-group-item bg-transparent">Weight <b
                                        class="float-end">{{pokemon.weight}}</b></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <img [src]="pokemon.sprites.front_default" alt=""
                                class="img-fluid d-block mx-auto" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container> -->

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body row-bg">
            <div class="row ">

            </div>
        </div>
    </div>
</div>